<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.eclipsetraining.contacts.ui.application.application"
            name="Contacts the RCP Way">
         <property
               name="appName"
               value="Contacts the RCP Way">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
         <property
               name="aboutText"
               value="Some text about Contacts Manager....&#x0D;&#x0A;&#x0D;&#x0A;(c) 2005-2011 Eclipse Training Alliance&#x0D;&#x0A;http://eclipse-training.net">
         </property>
      </product>
   </extension>

 
</plugin>
