<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.eclipsetraining.contacts.ui.contacts.category"
            name="Contacts">
      </category>
      <view
            category="net.eclipsetraining.contacts.ui.contacts.category"
            class="net.eclipsetraining.contacts.ui.views.list.ContactListViewPart"
            icon="icons/contacts_16.png"
            id="net.eclipsetraining.contacts.ui.view.list"
            name="Contacts"
            restorable="true">
      </view>
      <view
            category="net.eclipsetraining.contacts.ui.contacts.category"
            class="net.eclipsetraining.contacts.ui.views.details.ContactDetailsViewPart"
            icon="icons/contact_16.png"
            id="net.eclipsetraining.contacts.ui.view.details"
            name="Contact Details"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.eclipsetraining.contacts.ui.application.perspective">
         <viewShortcut
               id="net.eclipsetraining.contacts.ui.view.list">
         </viewShortcut>
         <viewShortcut
               id="net.eclipsetraining.contacts.ui.view.details">
         </viewShortcut>
         <view
               id="net.eclipsetraining.contacts.ui.view.list"
               minimized="false"
               ratio="0.33"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="net.eclipsetraining.contacts.ui.view.details"
               minimized="false"
               ratio="0.66"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.eclipsetraining.contacts.ui.views.command.sendEmail"
            name="Send Email">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:net.eclipsetraining.contacts.ui.view.list">
         <command
               commandId="org.eclipse.ui.file.refresh"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.eclipsetraining.contacts.ui.view.list">
         <command
               commandId="net.eclipsetraining.contacts.ui.views.command.sendEmail"
               style="push">
         </command>
         <separator
               name="net.eclipsetraining.contacts.ui.views.separator">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.eclipsetraining.contacts.ui.views.list.SendEmailHandler"
            commandId="net.eclipsetraining.contacts.ui.views.command.sendEmail">
      </handler>
      <handler
            class="net.eclipsetraining.contacts.ui.views.list.DeleteContactHandler"
            commandId="org.eclipse.ui.edit.delete">
      </handler>
      <handler
            class="net.eclipsetraining.contacts.ui.views.list.RefreshContactsHandler"
            commandId="org.eclipse.ui.file.refresh">
      </handler>
   </extension>

</plugin>
