<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<booleanAttribute key="append.args" value="true"/>
<stringAttribute key="application" value="net.eclipsetraining.contacts.ui.application.application"/>
<booleanAttribute key="askclear" value="false"/>
<booleanAttribute key="automaticAdd" value="false"/>
<booleanAttribute key="automaticValidate" value="true"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="true"/>
<booleanAttribute key="clearws" value="false"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Lab 02 - Contacts Manager Application"/>
<booleanAttribute key="default" value="false"/>
<booleanAttribute key="includeOptional" value="false"/>
<stringAttribute key="location" value="${system_property:java.io.tmpdir}/runtime-net.eclipsetraining.contacts.ui.application.application"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/J2SE-1.5"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -console -consoleLog"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<booleanAttribute key="pde.generated.config" value="false"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="org.eclipse.equinox.p2.director.app.product"/>
<stringAttribute key="selected_target_plugins" value="org.eclipse.core.runtime.compatibility.registry@default:false,org.eclipse.core.commands@default:default,org.eclipse.core.expressions@default:default,org.eclipse.ui@default:default,org.eclipse.core.databinding.observable@default:default,org.eclipse.equinox.common@2:true,org.eclipse.core.runtime@default:true,org.eclipse.swt@default:default,org.eclipse.help@default:default,org.eclipse.osgi@-1:true,org.eclipse.ui.workbench@default:default,org.eclipse.equinox.registry@default:default,org.eclipse.jface.databinding@default:default,org.eclipse.core.contenttype@default:default,org.eclipse.core.jobs@default:default,org.eclipse.swt.win32.win32.x86_64@default:false,org.eclipse.core.databinding@default:default,org.eclipse.jface@default:default,org.eclipse.core.databinding.property@default:default,org.eclipse.equinox.preferences@default:default,com.ibm.icu@default:default,org.eclipse.equinox.app@default:default"/>
<booleanAttribute key="show_selected_only" value="false"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="useProduct" value="false"/>
<booleanAttribute key="usefeatures" value="false"/>
</launchConfiguration>
